@model caycanh.Models.NhanVien

<h2>Chỉnh sửa chi tiết</h2>

@using (Html.BeginForm("Edit", "NhanVien", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(model => model.MaNhanVien, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.MaNhanVien, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.MaNhanVien, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TenNhanVien, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.TenNhanVien, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.TenNhanVien, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ChucVu, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.ChucVu, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ChucVu, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Luong, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.Luong, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Luong, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
    </div>
}