@model caycanh.Models.ChiTietDonDatHang

<h3>Bạn có chắc chắn muốn xóa bản ghi này?</h3>
<div>
    <h4>MaDonDatHang: @Model.MaDonDatHang</h4>
    <h4>MaCay: @Model.MaCay</h4>
    <h4>MaSanPham: @Model.MaSanPham</h4>
    <h4>SoLuong: @Model.SoLuong</h4>
    <h4>GiamGia: @Model.GiamGia</h4>
    <h4>ChietKhau: @Model.ChietKhau</h4>
    <h4>GiaTien: @Model.GiaTien</h4>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        @Html.ActionLink("Back to List", "Index")
    </div>
}