@model List<caycanh.Models.ChiTietDonDatHang>
@{
    ViewBag.Title = "Đơn Hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách Đơn Đặt Hàng</h2>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

<p>
    <a href="@Url.Action("Create")" class="btn btn-primary">
        <i class="fas fa-plus"></i> Thêm mới
    </a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Mã Sản Phẩm</th>
            <th>Mã Cây</th>
            <th>Số Lượng</th>
            <th>Giảm Giá</th>
            <th>Chiết Khấu</th>
            <th>Giá tiền</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var chiTiet in Model)
        {
            <tr>
                <td>@chiTiet.MaSanPham</td>
                <td>@chiTiet.MaCay</td>
                <td>@chiTiet.SoLuong</td>
                <td>@chiTiet.GiamGia</td>
                <td>@chiTiet.ChietKhau</td>
                <td>@chiTiet.GiaTien</td>
                <td>
                    <a href="@Url.Action("Edit", new { id = chiTiet.MaDonDatHang })" class="btn btn-warning btn-sm">
                        <i class="fas fa-edit"></i> Sửa
                    </a>
                    <a href="@Url.Action("Delete", new { id = chiTiet.MaDonDatHang })" class="btn btn-danger btn-sm">
                        <i class="fas fa-trash-alt"></i> Xóa
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<style>
    .btn-primary {
        background-color: #007bff; /* Replace with your desired color */
        border-color: #007bff; /* Replace with your desired color */
    }

    .btn-warning {
        background-color: #ffc107; /* Replace with your desired color */
        border-color: #ffc107; /* Replace with your desired color */
    }

    .btn-danger {
        background-color: #dc3545; /* Replace with your desired color */
        border-color: #dc3545; /* Replace with your desired color */
    }
</style>