@model caycanh.Models.SanPham
@{
    ViewBag.Title = "Xem Chi Tiết";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết Sản Phẩm</h2>

<table class="table">
    <tr>
        <th>Mã sản phẩm:</th>
        <td>@Model.MaSanPham</td>
    </tr>
    <tr>
        <th>Tên sản phẩm:</th>
        <td>@Model.TenSanPham</td>
    </tr>
    <tr>
        <th>Số lượng:</th>
        <td>@Model.SoLuong</td>
    </tr>
    <tr>
        <th>Giá tiền:</th>
        <td>@Model.GiaTien</td>
    </tr>

</table>

<p>
    @Html.ActionLink("Quay lại", "sanpham")
</p>

