@model caycanh.Models.CayCanh
@{
    ViewBag.Title = "Xem Chi Tiết";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết Cây </h2>

<table class="table">
    <tr>
        <th>Mã cây:</th>
        <td>@Model.MaCay</td>
    </tr>
    <tr>
        <th>Tên cây:</th>
        <td>@Model.TenCay</td>
    </tr>

    <tr>
        <th>Giá tiền:</th>
        <td>@Model.GiaTien</td>
    </tr>
    <tr>
        <th>Ngày trồng:</th>
        <td>@Model.NgayTrong</td>
    </tr>
    <tr>
        <th>Số Lượng:</th>
        <td>@Model.SoLuong</td>
    </tr>
</table>

<p>
    @Html.ActionLink("Quay lại", "cay")
</p>

