@model caycanh.Models.CayCanh

@{
    ViewBag.Title = "Delete";
}


<h3>Bạn có chắc chắn muốn xóa bản ghi này?</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaCay)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaCay)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TenCay)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenCay)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GiaTien)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GiaTien)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaLoaiCay)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaLoaiCay)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NgayTrong)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NgayTrong)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>